[submodule "packages/microfrontend-vue"]
	path = packages/microfrontend-vue
	url = https://github.com/bissaum/microfrontend-vue.git

[submodule "packages/microfrontend-angular"]
	path = packages/microfrontend-angular
	url = https://github.com/bissaum/microfrontend-angular.git

[submodule "packages/microfrontend-react"]
	path = packages/microfrontend-react
	url = https://github.com/bissaum/microfrontend-react.git

[submodule "packages/microfrontend-js"]
	path = packages/microfrontend-js
	url = https://github.com/bissaum/microfrontend-js.git

[submodule "packages/microfrontend-next"]
	path = packages/microfrontend-next
	url = https://github.com/bissaum/microfrontend-next.git

[submodule "packages/microfrontend-jquery"]
	path = packages/microfrontend-jquery
	url = https://github.com/bissaum/microfrontend-jquery.git
